* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

html,
body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #F8F8F8;
  border: none;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 1rem 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33% - 2rem);
          flex: 0 0 calc(33.33% - 2rem);
}

.card .product__info {
  padding: 1rem;
}

.card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card .product__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.card .product__action a,
.card .product__action span {
  width: 50%;
  height: 100%;
  padding: .5rem;
}

.card .product__action a {
  background-color: #E1B067;
  border: none;
}

.card .product__action span {
  background-color: #DEDDDC;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem auto;
}

#header .navbar {
  background-color: black;
  color: white;
}

#header .navbar .number {
  color: white;
  margin-left: .5rem;
  font-weight: 500;
}

#header .navbar .nav-link {
  color: white;
}

#header .navbar ul.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header ul.nav-index {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 1.5rem;
  padding: 1rem 0px;
  position: absolute;
  z-index: 777;
}

#header ul.nav-index li {
  margin-right: 1.5rem;
  position: relative;
}

#header ul.nav-index li a {
  color: black;
}

#header ul.nav-index li::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header ul.nav-index li:hover::after {
  width: 100%;
}

#header ul.nav-index li.active::after {
  width: 100%;
}

#carouselExampleIndicators {
  height: 540px;
  background-image: url("https://luunek.github.io/BC35E_Capstone_JS_Group10/images/bg_carousel.png");
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#carouselExampleIndicators .carousel-item {
  width: 90%;
  padding: 0 5rem;
  position: relative;
}

#carouselExampleIndicators .carousel-item .carousel__content {
  position: absolute;
  top: 50%;
  right: -4rem;
  width: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#carouselExampleIndicators .carousel-item .carousel__content h5,
#carouselExampleIndicators .carousel-item .carousel__content p {
  color: black;
}

#carouselExampleIndicators .carousel-item .carousel__content .btn-buy {
  background-color: #F8B653;
  color: white;
}

#carouselExampleIndicators .carousel-item img {
  width: 60%;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
}

footer {
  background-image: url("https://luunek.github.io/BC35E_Capstone_JS_Group10/images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  background-position: center;
}

form {
  padding: 5rem 2rem;
  position: relative;
}

form h3 {
  text-align: center;
}

form .submit {
  position: absolute;
  bottom: 0;
  right: 40%;
}

form .form__content {
  width: 70%;
  margin: 0 auto;
}

form .form__content .input-group {
  margin-bottom: 1rem;
}

form .form__content .input__wrap {
  position: relative;
  width: 90%;
}

form .form__content .input__wrap::after {
  content: "(*)";
  color: red;
  position: absolute;
  top: 0;
  right: 5px;
}

form .form__content .input__wrap input {
  border: none;
  padding-bottom: .3rem;
  border-bottom: 2px solid purple;
  width: 100%;
}

form .form__content .input__wrap input:focus-visible {
  outline: none;
}

form .form__content .err {
  font-size: .875rem;
  color: red;
}

form .form__content .radio > * {
  margin-right: 1.5rem;
}

footer {
  margin-top: 3rem;
}

#productDetail {
  margin: 5rem 3rem;
}

#productDetail .left {
  overflow: hidden;
  background-color: #F8F8F8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#productDetail .left img {
  width: 230px;
  height: 255px;
  -o-object-fit: contain;
     object-fit: contain;
}

#productDetail .right {
  padding-left: 5rem;
}

#productDetail .right p.describe {
  width: 80%;
}

#productDetail .right .size .label {
  color: #1ED90E;
  font-weight: 500;
}

#productDetail .right .size .sizeBtns button {
  border: none;
  background-color: #CCC;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  margin-right: 3px;
}

#productDetail .right .price {
  color: red;
  font-size: 1.5rem;
  font-weight: bolder;
}

#productDetail .right .count-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#productDetail .right .count-group > * {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: none;
  font-weight: bold;
}

#productDetail .right .count-group .count {
  line-height: 2rem;
  cursor: pointer;
}

#productDetail .right .count-group button {
  background: -webkit-gradient(linear, left top, left bottom, from(#6181F3), color-stop(99.48%, #7C97F5));
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  color: white;
}

#productDetail .right .addToCart {
  background: -webkit-gradient(linear, right top, left top, color-stop(5.14%, rgba(62, 32, 248, 0.9)), color-stop(89.71%, #D017EE));
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  padding: .3rem .6rem;
  border: none;
  color: white;
  margin-top: 1rem;
}
/*# sourceMappingURL=main.css.map */