form {
    padding: 5rem 2rem;
    position: relative;

    h3 {
        text-align: center;
    }

    button {
        background-color: #AE18E2 !important;
        border: none !important;
        outline: none;
        padding: .5rem 2rem !important;
        border-radius: 0 !important;
    }

    .submit {
        position: absolute;
        bottom: 0;
        right: 40%;
    }

    .form__content {
        width: 70%;
        margin: 0 auto;

        .input-group {
            margin-bottom: 1rem;
        }

        .input__wrap {
            position: relative;
            width: 90%;

            &::after {
                content: "(*)";
                color: red;
                position: absolute;
                top: 0;
                right: 5px;
            }

            input {
                border: none;
                padding-bottom: .3rem;
                border-bottom: 2px solid purple;
                width: 100%;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        .err {
            font-size: .875rem;
            color: red;
        }

        .radio {
            &>* {
                margin-right: 1.5rem;
            }
        }
    }
}

footer {
    margin-top: 3rem;
}