#carouselExampleIndicators {
    height: 540px;
    background-image: url("../../images/bg_carousel.png");
    background-image: url("https://luunek.github.io/BC35E_Capstone_JS_Group10/images/bg_carousel.png");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .carousel-item {
        width: 90%;
        padding: 0 5rem;
        position: relative;

        .carousel__content {
            position: absolute;
            top: 50%;
            right: -4rem;
            width: 30%;
            transform: translateY(-50%);

            h5,
            p {
                color: black;
            }

            .btn-buy {
                background-color: #F8B653;
                color: white;
            }
        }

        img {
            width: 60%;
            object-fit: fill;
            display: block;
        }
    }
}