#carouselExampleIndicators {
    height: 500px;
    background-image: url("../../images/bg_carousel.png");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;

    .carousel-item {
        width: 80%;
        padding: 0 5rem;
        position: relative;

        .carousel__content {
            position: absolute;
            top: 50%;
            right: 0;

            h5,
            p {
                color: black;
            }

            .btn-buy {
                background-color: #F8B653;
                color: white;
            }
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}