footer {
    background-image: url("../../images/footer.png");
    background-image: url("https://luunek.github.io/BC35E_Capstone_JS_Group10/images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    background-position: center;
}